{% extends 'base.html.twig' %}

{% block title %}Braine Digital Agency{% endblock %}

{% block body %}
<div class="page-wrapper">
	
	<!-- Cursor -->
	<div class="cursor"></div>
	<div class="cursor-follower"></div>
	<!-- Cursor End -->
 	
	<!-- Preloader -->
	<div class="loader-wrap">
		<div class="preloader">
			<div class="preloader-close">x</div>
			<div id="handle-preloader" class="handle-preloader">
				<div class="animation-preloader">
					<div class="txt-loading">
						<span data-text-preloader="L" class="letters-loading">L</span>
						<span data-text-preloader="O" class="letters-loading">O</span>
						<span data-text-preloader="A" class="letters-loading">A</span>
						<span data-text-preloader="D" class="letters-loading">D</span>
						<span data-text-preloader="I" class="letters-loading">I</span>
						<span data-text-preloader="N" class="letters-loading">N</span>
						<span data-text-preloader="G" class="letters-loading">G</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader End -->
	
	<!-- Main Header -->
	<header class="main-header header-style-one">
		
		<!-- Header Lower -->
		<div class="header-lower">
			<div class="auto-container">
				<div class="inner-container">
					<div class="d-flex justify-content-between align-items-center flex-wrap">
						
						<div class="logo-box">
							<div class="logo"><a href="{{ path('app_homepage') }}"><img src="{{ asset('assets_front/images/logo.svg') }}" alt="" title=""></a></div>
						</div>
						
						<div class="nav-outer d-flex flex-wrap">
							<!-- Main Menu -->
							<nav class="main-menu navbar-expand-md">
								<div class="navbar-header">
									<!-- Toggle Button -->    	
									<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								
								<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
									<ul class="navigation clearfix">
										<!--<li class="dropdown">-->
											<li><a href="{{ path('app_homepage') }}">Home</a></li>
										<!--</li>-->
										<li><a href="#">About</a></li>
										<li class="dropdown"><a href="#">options</a>
											<ul>
												<li><a href="#">Faq</a></li>
												<li><a href="#">Price</a></li>
												<li><a href="#">Testimonial</a></li>
											</ul>
										</li>
										<li class="dropdown"><a href="#">Services</a>
											<ul>
												<li><a href="#">Events</a></li>
												<li><a href="#">Courses</a></li>
												<li><a href="#">Feed</a></li>
												<li><a href="#">Quiz</a></li>
											</ul>
										</li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
							</nav>
						</div>

						<!-- Main Menu End-->
						<div class="outer-box d-flex align-items-center flex-wrap">

							<!-- Language DropDown -->
							<div class="language-dropdown">
								<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="flag"><img src="{{ asset('assets_front/images/icons/flag.png') }}" alt="" /></span> <span class="fa-solid fa-angle-down fa-fw"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" href="#"><span class="flag"><img src="{{ asset('assets_front/images/icons/flag.png') }}" alt="" /></span> English</a></li>
									<li><a class="dropdown-item" href="#"><span class="flag"><img src="{{ asset('assets_front/images/icons/arabic.png') }}" alt="" /></span> Arbic</a></li>
								</ul>
							</div>

							<!-- Button Box -->
							<div class="main-header_buttons">
								{% if app.user %}
									{# User is logged in #}
									{% if is_granted('ROLE_ADMIN') %}
										{# Admin user - show Dashboard button #}
										<a href="{{ path('dashboard_index') }}" class="template-btn btn-style-one">
											<span class="btn-wrap">
												<span class="text-one">Dashboard</span>
												<span class="text-two">Dashboard</span>
											</span>
										</a>
									{% else %}
										{# Regular user/student - show welcome message, profile link, and logout #}
										<span class="welcome-text">Welcome, {{ app.user.name|default(app.user.email) }}</span>
										<a href="{{ path('app_profile') }}" class="profile-link" title="Mon Profil">
											<i class="fas fa-user-circle"></i>
										</a>
									{% endif %}
									{# Show logout button for all logged-in users #}
									<a href="{{ path('app_logout') }}" class="template-btn btn-style-two">
										<span class="btn-wrap">
											<span class="text-one">Logout</span>
											<span class="text-two">Logout</span>
										</span>
									</a>
								{% else %}
									{# Not logged in - show login/register buttons #}
									<a href="{{ path('app_login') }}" class="template-btn btn-style-two">
										<span class="btn-wrap">
											<span class="text-one">Login</span>
											<span class="text-two">Login</span>
										</span>
									</a>
									<a href="{{ path('app_register') }}" class="template-btn btn-style-one">
										<span class="btn-wrap">
											<span class="text-one">Join now</span>
											<span class="text-two">Join now</span>
										</span>
									</a>
								{% endif %}
							</div>

							<!-- Mobile Navigation Toggler -->
							<div class="mobile-nav-toggler">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
							</div>

						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!--End Header Lower-->
		
		<!-- Mobile Menu  -->
		<div class="mobile-menu">
			<div class="menu-backdrop"></div>
			<div class="close-btn"><span class="icon fa-solid fa-xmark fa-fw"></span></div>
			
			<nav class="menu-box">
				<div class="nav-logo"><a href="{{ path('app_homepage') }}"><img src="{{ asset('assets_front/images/mobile-logo.svg') }}" alt="" title=""></a></div>
				<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
			</nav>
		</div>
		<!-- End Mobile Menu -->
	
	</header>
	<!-- End Main Header -->
	
	<!-- Slider One -->
	<section class="slider-one">
		<div class="main-slider swiper-container">
			<div class="swiper-wrapper">

				<!-- Slide -->
				<div class="swiper-slide">
					<div class="slider-one_icon" style="background-image:url({{ asset('assets_front/images/main-slider/icon-1.png') }})"></div>
					<div class="slider-one_icon-two" style="background-image:url({{ asset('assets_front/images/main-slider/icon-1.png') }})"></div>
					<div class="slider-one_pattern" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-1.png') }})"></div>
					<div class="slider-one_pattern-two" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-2.png') }})"></div>
					<div class="slider-one_pattern-four" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-4.png') }})"></div>
					<div class="auto-container">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="slider-one_content col-lg-7 col-md-12 col-sm-12">
								<div class="slider-one_content-inner">
									<div class="slider-one_title"><i><img src="{{ asset('assets_front/images/main-slider/hand.png') }}" alt="" /></i> AI makes content fast & easy</div>
									<h1 class="slider-one_heading">Present your ideas in captivating live pitch sessions.</span> </h1>
									<div class="slider-one_text">Shine in real time.</div>
									<div class="slider-one_button d-flex align-items-center flex-wrap">
										<a href="{{ path('app_register') }}" class="template-btn btn-style-one">
											<span class="btn-wrap">
												<span class="text-one">Get started free</span>
												<span class="text-two">Get started free</span>
											</span>
										</a>
										<div class="slider-one_video">
											<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video play-box"><span class="fa fa-play"></span></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="slider-one_image-column col-lg-5 col-md-12 col-sm-12">
								<div class="slider-one_pattern-three" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-3.png') }})"></div>
								<div class="slider-one_image-outer">
									<!-- Slider One Author -->
									<div class="slider-one_author">
										<i><img src="{{ asset('assets_front/images/main-slider/icon-2.png') }}" alt="" /></i>
										<h5 class="slider-one_author-name">Aarfaoui Yassine</h5>
										<div class="slider-one_author-text">Social media manager</div>
									</div>
									<!-- Slider One Percent -->
									<div class="slider-one_percentage">
										<i class="fa-solid fa-arrow-up fa-fw"></i>
										<div class="slider-one_percent">90<sub>%</sub></div>
										<div class="slider-one_percentage-text">efficiency</div>
									</div>
									<div class="slider-one_graph">
										<div class="slider-one_graph-title">Annual goal <span>$98,541 <sup><i class="fa-solid fa-caret-up fa-fw"></i>110%</sup></span></div>
										<img src="{{ asset('assets_front/images/main-slider/graph.png') }}" alt="" />
									</div>
									<div class="slider-one_image">
										<img src="{{ asset('assets_front/images/main-slider/image-1.png') }}" alt="" />
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<!-- Slide 2 -->
				<div class="swiper-slide">
					<div class="slider-one_icon" style="background-image:url({{ asset('assets_front/images/main-slider/icon-1.png') }})"></div>
					<div class="slider-one_icon-two" style="background-image:url({{ asset('assets_front/images/main-slider/icon-1.png') }})"></div>
					<div class="slider-one_pattern" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-1.png') }})"></div>
					<div class="slider-one_pattern-two" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-2.png') }})"></div>
					<div class="slider-one_pattern-four" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-4.png') }})"></div>
					<div class="auto-container">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="slider-one_content col-lg-7 col-md-12 col-sm-12">
								<div class="slider-one_content-inner">
									<div class="slider-one_title"><i><img src="{{ asset('assets_front/images/main-slider/hand.png') }}" alt="" /></i> AI makes content fast & easy</div>
									<h1 class="slider-one_heading">Join a community of entrepreneurs, investors, and students.</h1>
									<div class="slider-one_text">Connect and innovate together</div>
									<div class="slider-one_button d-flex align-items-center flex-wrap">
										<a href="{{ path('app_register') }}" class="template-btn btn-style-one">
											<span class="btn-wrap">
												<span class="text-one">Get started free</span>
												<span class="text-two">Get started free</span>
											</span>
										</a>
										<div class="slider-one_video">
											<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video play-box"><span class="fa fa-play"></span></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="slider-one_image-column col-lg-5 col-md-12 col-sm-12">
								<div class="slider-one_pattern-three" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-3.png') }})"></div>
								<div class="slider-one_image-outer">
									<div class="slider-one_author">
										<i><img src="{{ asset('assets_front/images/main-slider/icon-2.png') }}" alt="" /></i>
										<h5 class="slider-one_author-name">Aamara Chiheb</h5>
										<div class="slider-one_author-text">Video Editor</div>
									</div>
									<div class="slider-one_percentage">
										<i class="fa-solid fa-arrow-up fa-fw"></i>
										<div class="slider-one_percent">90<sub>%</sub></div>
										<div class="slider-one_percentage-text">efficiency</div>
									</div>
									<div class="slider-one_graph">
										<div class="slider-one_graph-title">Annual goal <span>$98,541 <sup><i class="fa-solid fa-caret-up fa-fw"></i>110%</sup></span></div>
										<img src="{{ asset('assets_front/images/main-slider/graph.png') }}" alt="" />
									</div>
									<div class="slider-one_image">
										<img src="{{ asset('assets_front/images/main-slider/mirror.png') }}" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide 3 -->
				<div class="swiper-slide">
					<div class="slider-one_icon" style="background-image:url({{ asset('assets_front/images/main-slider/icon-1.png') }})"></div>
					<div class="slider-one_icon-two" style="background-image:url({{ asset('assets_front/images/main-slider/icon-1.png') }})"></div>
					<div class="slider-one_pattern" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-1.png') }})"></div>
					<div class="slider-one_pattern-two" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-2.png') }})"></div>
					<div class="slider-one_pattern-four" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-4.png') }})"></div>
					<div class="auto-container">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="slider-one_content col-lg-7 col-md-12 col-sm-12">
								<div class="slider-one_content-inner">
									<div class="slider-one_title"><i><img src="{{ asset('assets_front/images/main-slider/hand.png') }}" alt="" /></i> AI makes content fast & easy</div>
									<h1 class="slider-one_heading">Take online courses and test your skills with interactive quizzes.</h1>
									<div class="slider-one_text">Learn at your own pace.</div>
									<div class="slider-one_button d-flex align-items-center flex-wrap">
										<a href="{{ path('app_register') }}" class="template-btn btn-style-one">
											<span class="btn-wrap">
												<span class="text-one">Get started free</span>
												<span class="text-two">Get started free</span>
											</span>
										</a>
										<div class="slider-one_video">
											<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video play-box"><span class="fa fa-play"></span></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="slider-one_image-column col-lg-5 col-md-12 col-sm-12">
								<div class="slider-one_pattern-three" style="background-image:url({{ asset('assets_front/images/main-slider/pattern-3.png') }})"></div>
								<div class="slider-one_image-outer">
									<div class="slider-one_author">
										<i><img src="{{ asset('assets_front/images/main-slider/icon-2.png') }}" alt="" /></i>
										<h5 class="slider-one_author-name">Laradh Youssef</h5>
										<div class="slider-one_author-text">Social media manager</div>
									</div>
									<div class="slider-one_percentage">
										<i class="fa-solid fa-arrow-up fa-fw"></i>
										<div class="slider-one_percent">90<sub>%</sub></div>
										<div class="slider-one_percentage-text">efficiency</div>
									</div>
									<div class="slider-one_graph">
										<div class="slider-one_graph-title">Annual goal <span>$98,541 <sup><i class="fa-solid fa-caret-up fa-fw"></i>110%</sup></span></div>
										<img src="{{ asset('assets_front/images/main-slider/graph.png') }}" alt="" />
									</div>
									<div class="slider-one_image">
										<img src="{{ asset('assets_front/images/main-slider/image-3.png') }}" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Main Slider Section -->

	<!-- Services One -->
	<section class="services-one">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="sec-title_title">Our Service</div>
				<h2 class="sec-title_heading">Experience our latest <br> <span>new features</span></h2>
			</div>
			<div class="row clearfix">

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-speaker1"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="#">Events</a></h5>
						<div class="service-block_one-text">Discover exciting events tailored to connect, inspire, and empower individuals from all walks of life.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">01</div>
							<a class="service-block_one-join" href="#">Join now <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-marketing"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="#">Feeds</a></h5>
						<div class="service-block_one-text">Stay updated with real-time feeds showcasing the latest news, insights, and community highlights.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">02</div>
							<a class="service-block_one-join" href="#">Join now <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-users"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="#">Quiz</a></h5>
						<div class="service-block_one-text">Test your knowledge and track your progress with interactive quizzes designed to reinforce learning and boost retention.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">03</div>
							<a class="service-block_one-join" href="#">Join now <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-copyright"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="#">Courses</a></h5>
						<div class="service-block_one-text">Explore a variety of expert-led courses designed to help you learn, grow, and achieve your goals at your own pace.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">04</div>
							<a class="service-block_one-join" href="#">Join now <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block Two -->
				<div class="service-block_two col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_two-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_two-sideicon" style="background-image:url({{ asset('assets_front/images/icons/service-1.png') }})"></div>
						<div class="service-block_two-icon">
							<img src="{{ asset('assets_front/images/icons/service.png') }}" alt="" />
						</div>
						<h5 class="service-block_two-heading"><a href="#">More service</a></h5>
						<div class="service-block_two-text"></div>
						<div class="service-block_two-button">
							<a href="#" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">learn more</span>
									<span class="text-two">learn more</span>
								</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Services One -->
	
	<!-- About One -->
	<section class="about-one">
		<div class="about-one_pattern" style="background-image:url({{ asset('assets_front/images/background/about-pattern.png') }})"></div>
		<div class="about-one_icon" style="background-image:url({{ asset('assets_front/images/icons/about-1.png') }})"></div>
		<div class="about-one_icon-two" style="background-image:url({{ asset('assets_front/images/icons/about-2.png') }})"></div>
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Tab Column -->
				<div class="about-one_tab-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="about-one_tab-outer">
						<div class="about-one_tab-shadow" style="background-image:url({{ asset('assets_front/images/background/tab-shadow.png') }})"></div>
						<div class="about-one_tab-image">
							<img src="{{ asset('assets_front/images/resource/tabs.png') }}" alt="" />
						</div>
					</div>
				</div>

				<!-- Content Column -->
				<div class="about-one_content-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="about-one_content-outer">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="sec-title_title">About us</div>
							<h2 class="sec-title_heading"><span>what you need to Know</span></h2>
						</div>
						<p>At our platform, <span>entrepreneurs, investors, and students</span> are empowered by combining expert-led courses, live pitch events, and a collaborative community to fuel innovation and drive success.</p>
						<div class="about-one_options d-flex align-items-center flex-wrap">
							<a href="#" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">Know more</span>
									<span class="text-two">Know more</span>
								</span>
							</a>
							<div class="about-one_rating-box d-flex align-items-center flex-wrap">
								4.7
								<div class="about-one_rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<i>Customer rating</i>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End About One -->
	
	<!-- Choose One -->
	<section class="choose-one">
		<div class="auto-container">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title light centered">
					<div class="sec-title_title">why choose us</div>
					<h2 class="sec-title_heading">Reason to choose our <br> <span>platform</span></h2>
				</div>
				<div class="row clearfix">

					<!-- Counter Block One -->
					<div class="counter-block_one col-lg-4 col-md-6 col-sm-12">
						<div class="counter-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="counter-block_one-icon fa-brands fa-instagram fa-fw"></div>
							<div class="counter-block_one-count"><span class="odometer" data-count="8000"></span><i>+</i></div>
							<div class="counter-block_one-text">More than 8,000 customers have experimented with our platform</div>
						</div>
					</div>

					<!-- Counter Block One -->
					<div class="counter-block_one col-lg-4 col-md-6 col-sm-12">
						<div class="counter-block_one-inner wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
							<div class="counter-block_one-icon fa-brands fa-facebook-f"></div>
							<div class="counter-block_one-count"><span class="odometer" data-count="500000"></span><i>+</i></div>
							<div class="counter-block_one-text">Large community of entrepreneurs and investors</div>
						</div>
					</div>

					<!-- Counter Block One -->
					<div class="counter-block_one col-lg-4 col-md-6 col-sm-12">
						<div class="counter-block_one-inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="counter-block_one-icon fa-brands fa-instagram fa-fw"></div>
							<div class="counter-block_one-count"><span class="odometer" data-count="200000"></span><i>+</i></div>
							<div class="counter-block_one-text">Active student community learning and growing</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End Choose One -->

	<!-- Answer One -->
	<section class="answer-one">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Tab Column -->
				<div class="answer-one_title-column col-lg-5 col-md-12 col-sm-12">
					<div class="answer-one_title-outer">
						<!-- Sec Title -->
						<div class="sec-title title-anim">
							<div class="sec-title_title">Why Choose Us?</div>
							<h2 class="sec-title_heading">Unlock Your <span>Potential</span> With Us</h2>
						</div>
						<ul class="answer-one_list">
							<li><i class="fa-solid fa-check fa-fw"></i>Real Opportunities</li>
							<li><i class="fa-solid fa-check fa-fw"></i>Skill Building</li>
							<li><i class="fa-solid fa-check fa-fw"></i>Dynamic Community</li>
						</ul>
						<div class="answer-one_button">
							<a href="#" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">Know more</span>
									<span class="text-two">Know more</span>
								</span>
							</a>
						</div>
					</div>
				</div>

				<!-- Tab Column -->
				<div class="answer-one_content-column col-lg-7 col-md-12 col-sm-12">
					<div class="answer-one_content-outer">
						<div class="answer-one_pattern" style="background-image:url({{ asset('assets_front/images/background/faq-shadow.png') }})"></div>
						<div class="answer-one_image">
							<img src="{{ asset('assets_front/images/resource/faq.png') }}" alt="" />
						</div>		
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Answer One -->

	<!-- Testimonial One -->
	<section class="testimonial-one">
		<div class="auto-container">
			<div class="inner-container" style="background-image:url({{ asset('assets_front/images/background/testimonial-one_bg.png') }})">
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="sec-title_title">Testimonials</div>
					<h2 class="sec-title_heading">What our respectable <br> <span>clients says</span></h2>
				</div>
				<div class="three-item_carousel swiper-container">
					<div class="swiper-wrapper">
		
						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Testimonial Block One -->
							<div class="testimonial-block_one">
								<div class="testimonial-block_one-inner">
									<div class="testimonial-block_one-rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris.</div>
									<div class="testimonial-block_one-author_box">
										<div class="testimonial-block_one-author-image">
											<img src="{{ asset('assets_front/images/resource/author-2.png') }}" alt="" />
										</div>
										Larry K. Lund <span>Social Media Manager</span>
									</div>
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Testimonial Block One -->
							<div class="testimonial-block_one">
								<div class="testimonial-block_one-inner">
									<div class="testimonial-block_one-rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris.</div>
									<div class="testimonial-block_one-author_box">
										<div class="testimonial-block_one-author-image">
											<img src="{{ asset('assets_front/images/resource/author-3.png') }}" alt="" />
										</div>
										Marian R. Vieira <span>Social Media Manager</span>
									</div>
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Testimonial Block One -->
							<div class="testimonial-block_one">
								<div class="testimonial-block_one-inner">
									<div class="testimonial-block_one-rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<div class="testimonial-block_one-text">Lorem ipsum amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit <span>Pellentesque sit amet</span> sapien fringilla, mattis ligula consectetur, ultrices mauris.</div>
									<div class="testimonial-block_one-author_box">
										<div class="testimonial-block_one-author-image">
											<img src="{{ asset('assets_front/images/resource/author-4.png') }}" alt="" />
										</div>
										Bob E. Wiggins <span>Social Media Manager</span>
									</div>
								</div>
							</div>
						</div>

					</div>

					<!-- If we need pagination -->
					<div class="three-item_carousel-pagination"></div>

				</div>

			</div>
		</div>
	</section>
	<!-- End Testimonial One -->

	<!-- Steps One -->
	<section class="steps-one">
		<div class="steps-one_bg" style="background-image:url({{ asset('assets_front/images/background/step-1_bg.png') }})"></div>
		<div class="steps-one_icon" style="background-image:url({{ asset('assets_front/images/icons/step.png') }})"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="circle-layer"></div>
				<div class="dots-layer">
					<span class="dot-one"></span>
					<span class="dot-two"></span>
				</div>
			
				<!-- Sec Title -->
				<div class="sec-title">
					<div class="sec-title_title">How its work</div>
					<h2 class="sec-title_heading">Braine <span>typically operate</span> in <br> a three steps</h2>
				</div>
				<div class="steps-one_button">
					<a href="#" class="template-btn btn-style-two">
						<span class="btn-wrap">
							<span class="text-one">Know more</span>
							<span class="text-two">Know more</span>
						</span>
					</a>
				</div>
				<div class="row clearfix">
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<!-- Step Block One -->
						<div class="step-block_one">
							<div class="step-block_one-inner">
								<div class="step-block_one-steps">step 01</div>
								<h5 class="step-block_one-title">Join the Community</h5>
								<div class="step-block_one-text">Sign up as an entrepreneur, investor, or student and create your profile.</div>
								<div class="step-block_one-content">
									<div class="image">
										<img src="{{ asset('assets_front/images/resource/step-1.png') }}" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">

						<!-- Step Block One -->
						<div class="step-block_one">
							<div class="step-block_one-inner">
								<div class="step-block_one-steps">step 02</div>
								<h5 class="step-block_one-title">Learn & Prepare</h5>
								<div class="step-block_one-text">Explore e-learning courses, take quizzes, and get ready to pitch or invest.</div>
								<div class="step-block_one-content">
									<div class="image">
										<img src="{{ asset('assets_front/images/resource/step-2.png') }}" alt="" />
									</div>
								</div>
							</div>
						</div>

						<!-- Step Block One -->
						<div class="step-block_one">
							<div class="step-block_one-inner">
								<div class="step-block_one-steps">step 03</div>
								<h5 class="step-block_one-title">Connect & Pitch</h5>
								<div class="step-block_one-text">Participate in live pitch sessions, events, and start collaborating on real projects.</div>
								<div class="step-block_one-content">
									<div class="image">
										<img src="{{ asset('assets_front/images/resource/step-3.png') }}" alt="" />
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Steps One -->

	<!-- Price One -->
	<section class="price-one">
		<div class="price-one_bg" style="background-image:url({{ asset('assets_front/images/background/price-bg.png') }})"></div>
		<div class="auto-container">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title title-anim centered">
					<div class="sec-title_title">Our Pricing</div>
					<h2 class="sec-title_heading">Join for <span>free</span> Today</h2>
				</div>
				<div class="pricing-tabs tabs-box">
					
					<!--Tab Btns-->
					<div class="buttons-outer">
						<ul class="tab-buttons clearfix">
							<li data-tab="#prod-monthly" class="tab-btn active-btn">Monthly</li>
							<li data-tab="#prod-yearly" class="tab-btn">Yearly</li>
						</ul>
					</div>

					<!--Tabs Container-->
					<div class="tabs-content">
						
						<!-- Tab -->
						<div class="tab active-tab" id="prod-monthly">
							<div class="content">
								<div class="row clearfix">

									<!-- Price Block One -->
									<div class="price-block_one col-lg-4 col-md-6 col-sm-12">
										<div class="price-block_one-inner">
											<div class="price-block_one-title">Starter</div>
											<div class="price-block_one-subtitle">Perfect for students and early-stage entrepreneurs</div>
											<div class="price-block_one-content">
												<div class="d-flex justify-content-between align-items-end flex-wrap">
													<div class="price-block_one-price"><sup>$</sup>3<sub>/mo</sub></div>
													<div class="price-block_one-text">*Get Braine tailored</div>
												</div>
												<div class="price-block_one-button">
													<a class="template-btn price-one_button" href="{{ path('app_register') }}">Start 1 month free trial</a>
												</div>
												<ul class="price-block_one-list">
													<li><i class="fa-solid fa-check fa-fw"></i>Access to basic courses</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to basic tools</li>
													<li><i class="fa-solid fa-check fa-fw"></i>View pitch events</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Email support only</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Join community discussions</li>
												</ul>
											</div>
										</div>
									</div>

									<!-- Price Block One -->
									<div class="price-block_one active col-lg-4 col-md-6 col-sm-12">
										<div class="price-block_one-inner">
											<div class="price-one_stars" style="background-image:url({{ asset('assets_front/images/icons/price-stars.png') }})"></div>
											<div class="price-block_one-title">Professional</div>
											<div class="price-block_one-subtitle">Ideal for active learners and aspiring entrepreneurs</div>
											<div class="price-block_one-content">
												<div class="d-flex justify-content-between align-items-end flex-wrap">
													<div class="price-block_one-price"><sup>$</sup>9<sub>/mo</sub></div>
													<div class="price-block_one-text">*Get Braine tailored</div>
												</div>
												<div class="price-block_one-button">
													<a class="template-btn price-one_button" href="{{ path('app_register') }}">Start 1 month free trial</a>
												</div>
												<ul class="price-block_one-list">
													<li><i class="fa-solid fa-check fa-fw"></i>Full access to all courses & quizzes</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Attend live pitch sessions</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Priority support</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Direct messaging</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Advanced analytics</li>
												</ul>
											</div>
										</div>
									</div>

									<!-- Price Block One -->
									<div class="price-block_one col-lg-4 col-md-6 col-sm-12">
										<div class="price-block_one-inner">
											<div class="price-block_one-title">Investor</div>
											<div class="price-block_one-subtitle">Designed for investors and mentors</div>
											<div class="price-block_one-content">
												<div class="d-flex justify-content-between align-items-end flex-wrap">
													<div class="price-block_one-price"><sup>$</sup>18<sub>/mo</sub></div>
													<div class="price-block_one-text">*Get Braine tailored</div>
												</div>
												<div class="price-block_one-button">
													<a class="template-btn price-one_button" href="{{ path('app_register') }}">Start 1 month free trial</a>
												</div>
												<ul class="price-block_one-list">
													<li><i class="fa-solid fa-check fa-fw"></i>Full access to all courses & quizzes</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Direct communication with entrepreneurs</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Access to advanced analytics</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Exclusive premium events</li>
													<li><i class="fa-solid fa-check fa-fw"></i>Mentorship opportunities</li>
												</ul>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End Price One -->

	<!-- FAQ One -->
	<section class="faq-one">
		<div class="faq-one_bg" style="background-image:url({{ asset('assets_front/images/background/faq-bg.png') }})"></div>
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Tab Column -->
				<div class="faq-one_title-column col-lg-5 col-md-12 col-sm-12">
					<div class="faq-one_title-outer">
						<!-- Sec Title -->
						<div class="sec-title title-anim">
							<div class="sec-title_title">faq</div>
							<h2 class="sec-title_heading">Frequently asked <span>questions</span></h2>
						</div>
						<div class="faq-one_button">
							<a href="#" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">Contact now</span>
									<span class="text-two">Contact now</span>
								</span>
							</a>
						</div>
					</div>
				</div>

				<!-- Accordian Column -->
				<div class="faq-one_accordian-column col-lg-7 col-md-12 col-sm-12">
					<div class="faq-one_accordian-outer">

						<!-- Accordion Box -->
						<ul class="accordion-box_two">
									
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa-solid fa-plus fa-fw"></span></div>What is the purpose of this platform?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Our platform connects entrepreneurs, investors, and students in one dynamic space where they can pitch ideas, learn new skills, and collaborate on innovative projects.</div>
									</div>
								</div>
							</li>
										
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa-solid fa-plus fa-fw"></span></div>How can I participate in a pitch session?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Simply create an entrepreneur account, complete your profile, and register for upcoming pitch events.</div>
									</div>
								</div>
							</li>

							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa-solid fa-plus fa-fw"></span></div>Are the courses free?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We offer a mix of free and premium courses. You can start with basic content under the Starter Plan.</div>
									</div>
								</div>
							</li>

							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa-solid fa-plus fa-fw"></span></div>Can investors contact entrepreneurs directly?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Yes, investors with an active subscription can view profiles and pitch decks.</div>
									</div>
								</div>
							</li>

						</ul>

					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End FAQ One -->

	<!-- Footer -->
	<footer class="main-footer">
		<div class="footer_pattern" style="background-image: url({{ asset('assets_front/images/background/footer-pattern.png') }})"></div>
		<div class="auto-container">
			<div class="inner-container">
				<!-- Widgets Section -->
				<div class="widgets-section">
					<div class="row clearfix">
						
						<!-- Big Column -->
						<div class="big-column col-lg-5 col-md-12 col-sm-12">
							<div class="footer-newsletter">
								<h5 class="footer-title">Newsletter</h5>
								<div class="footer-newsletter_text">Subscribe to our newsletter for updates and news.</div>
								<div class="newsletter-box">
									<form method="post" action="#">
										<div class="form-group">
											<span class="icon fa-regular fa-envelope fa-fw"></span>
											<input type="email" name="search-field" value="" placeholder="Enter your mail" required>
											<button type="submit" class="template-btn btn-style-one">
												<span class="btn-wrap">
													<span class="text-one">Subscribe</span>
													<span class="text-two">Subscribe</span>
												</span>
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<!-- Big Column -->
						<div class="big-column col-lg-7 col-md-12 col-sm-12">
							<div class="footer-lists_outer">
								<div class="row clearfix">
									<!-- Column -->
									<div class="column col-lg-5 col-md-4 col-sm-6">
										<h5 class="footer-title">Services</h5>
										<ul class="footer-pages_list">
											<li><a href="#">Events</a></li>
											<li><a href="#">Feeds</a></li>
											<li><a href="#">Quiz</a></li>
											<li><a href="#">Courses</a></li>
											<li><a href="#">Report</a></li>
										</ul>
									</div>
									<!-- Column -->
									<div class="column col-lg-3 col-md-4 col-sm-6">
										<h5 class="footer-title">Resources</h5>
										<ul class="footer-pages_list">
											<li><a href="#">Blog</a></li>
											<li><a href="#">FAQs</a></li>
											<li><a href="#">Help center</a></li>
											<li><a href="#">Case studies</a></li>
										</ul>
									</div>
									<!-- Column -->
									<div class="column col-lg-4 col-md-4 col-sm-6">
										<h5 class="footer-title">About us</h5>
										<ul class="footer-pages_list">
											<li><a href="#">Our story</a></li>
											<li><a href="#">Team</a></li>
											<li><a href="#">Careers</a></li>
											<li><a href="#">Testimonials</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="inner-container d-flex justify-content-between align-items-center flex-wrap">
					<div class="footer-logo"><a href="{{ path('app_homepage') }}"><img src="{{ asset('assets_front/images/logo.svg') }}" alt="" title=""></a></div>
					<div class="footer-copyright">&copy; 2024 <a href="{{ path('app_homepage') }}">Braine.</a> All rights reserved.</div>
					<!-- Social Box -->
					<div class="footer-social_box">
						<a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
						<a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
						<a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

</div>
<!-- End PageWrapper -->

<!-- JavaScript Files -->
<script src="{{ asset('assets_front/js/jquery.js') }}"></script>
<script src="{{ asset('assets_front/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets_front/js/appear.js') }}"></script>
<script src="{{ asset('assets_front/js/wow.js') }}"></script>
<script src="{{ asset('assets_front/js/swiper.min.js') }}"></script>
<script src="{{ asset('assets_front/js/odometer.js') }}"></script>
<script src="{{ asset('assets_front/js/magnific-popup.min.js') }}"></script>
<script src="{{ asset('assets_front/js/script.js') }}"></script>

<style>
    .welcome-text:hover {
        background: #667eea;
        color: white;
    }
    
    .profile-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        padding: 8px 15px;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.1);
        color: #667eea;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    
    .profile-link:hover {
        background: #5567d8;
        transform: translateY(-2px);
    }
    
    @media (max-width: 768px) {
        .welcome-text {
            font-size: 14px;
            padding: 8px 15px;
        }
        
        .profile-link {
            margin-left: 10px;
            padding: 6px 12px;
        }
    }
</style>

<script>
    // Simple preloader removal
    $(document).ready(function() {
        setTimeout(function() {
            $('.loader-wrap').fadeOut(500);
        }, 1000);
    });
</script>

{% endblock %}
