{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Courses</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="{{ path('app_admin_cours_index') }}"><i class="bx bx-home-alt"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Course</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="card">
        <div class="card-body p-4">
            <h5 class="card-title">Edit Course</h5>
            <hr/>
            
            {{ form_start(form) }}
            <div class="form-body mt-4">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="border border-3 p-4 rounded">
                            
                            <div class="mb-3">
                                {{ form_label(form.titre, 'Course Title', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.titre) }}
                            </div>
                            
                            <div class="mb-3">
                                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.description) }}
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="{{ path('app_admin_cours_index') }}" class="btn btn-secondary me-md-2">Cancel</a>
                                <button type="submit" class="btn btn-primary">Update Course</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            
        </div>
    </div>
{% endblock %}