<!doctype html>
<html lang="en" data-bs-theme="blue-theme">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Maxton Admin{% endblock %}</title>
  
  <link rel="icon" href="{{ asset('assets/back/images/favicon-32x32.png') }}" type="image/png">
  
  <link href="{{ asset('assets/back/plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/back/plugins/metismenu/metisMenu.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/back/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet">
  
  <link href="{{ asset('assets/back/plugins/datatable/css/dataTables.bootstrap5.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/back/plugins/datatable/css/buttons.bootstrap5.min.css') }}" rel="stylesheet">
  
  <link href="{{ asset('assets/back/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/back/css/bootstrap-extended.css') }}" rel="stylesheet">
  
  <link href="{{ asset('assets/back/sass/main.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/back/sass/dark-theme.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/back/sass/blue-theme.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/back/sass/semi-dark.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/back/sass/bordered-theme.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/back/sass/responsive.css') }}" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
</head>

<body>

  <header class="top-header">
    <nav class="navbar navbar-expand align-items-center gap-4">
      <div class="btn-toggle">
        <a href="javascript:;"><i class="material-icons-outlined">menu</i></a>
      </div>
      <div class="search-bar flex-grow-1">
        <div class="position-relative">
          <input class="form-control rounded-5 px-5 search-control d-lg-block d-none" type="text" placeholder="Search">
          <span class="material-icons-outlined position-absolute d-lg-block d-none ms-3 translate-middle-y start-0 top-50">search</span>
        </div>
      </div>
      <ul class="navbar-nav gap-1 nav-right-links align-items-center">
         </ul>
    </nav>
  </header>

  <aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div class="logo-icon">
        <img src="{{ asset('assets/back/images/logo-icon.png') }}" class="logo-img" alt="">
      </div>
      <div class="logo-name flex-grow-1">
        <h5 class="mb-0">Maxton</h5>
      </div>
      <div class="sidebar-close">
        <span class="material-icons-outlined">close</span>
      </div>
    </div>
    <div class="sidebar-nav">
        <ul class="metismenu" id="sidenav">
          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon"><i class="material-icons-outlined">home</i>
              </div>
              <div class="menu-title">Dashboard</div>
            </a>
            <ul>
              <li><a href="#"><i class="material-icons-outlined">arrow_right</i>Analysis</a></li>
            </ul>
          </li>
          
          <li class="menu-label">UI Elements</li>
          
          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon"><i class="material-icons-outlined">api</i>
              </div>
              <div class="menu-title">Tables</div>
            </a>
            <ul>
              <li><a href="{{ path('app_admin_cours_index') }}"><i class="material-icons-outlined">arrow_right</i>Courses</a></li>
              
              <li><a href="{{ path('app_admin_chapitre_index') }}"><i class="material-icons-outlined">arrow_right</i>Chapters</a></li>

              <li><a href="{{ path('app_admin_quiz_datatable') }}"><i class="material-icons-outlined">arrow_right</i>Quizzes</a></li>

            </ul>
          </li>
        </ul>
    </div>
  </aside>

  <main class="main-wrapper">
    <div class="main-content">
      {% block body %}{% endblock %}
    </div>
  </main>

  <script src="{{ asset('assets/back/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('assets/back/js/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/back/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
  <script src="{{ asset('assets/back/plugins/metismenu/metisMenu.min.js') }}"></script>
  <script src="{{ asset('assets/back/plugins/simplebar/js/simplebar.min.js') }}"></script>
  
  <script src="{{ asset('assets/back/plugins/datatable/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/back/plugins/datatable/js/dataTables.bootstrap5.min.js') }}"></script>
  
  <script src="{{ asset('assets/back/plugins/datatable/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('assets/back/plugins/datatable/js/buttons.bootstrap5.min.js') }}"></script>
  <script src="{{ asset('assets/back/plugins/datatable/js/jszip.min.js') }}"></script>
  <script src="{{ asset('assets/back/plugins/datatable/js/pdfmake.min.js') }}"></script>
  <script src="{{ asset('assets/back/plugins/datatable/js/vfs_fonts.js') }}"></script>
  <script src="{{ asset('assets/back/plugins/datatable/js/buttons.html5.min.js') }}"></script>
  <script src="{{ asset('assets/back/plugins/datatable/js/buttons.print.min.js') }}"></script>
  <script src="{{ asset('assets/back/plugins/datatable/js/buttons.colVis.min.js') }}"></script>
  
  <script src="{{ asset('assets/back/js/main.js') }}"></script>
  
  {% block javascripts %}{% endblock %}

</body>
</html>