{# templates/front/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>EduConnect - Plateforme Éducative</title>
<!-- Stylesheets -->
<link href="{{ asset('assets/authe/assets/front/css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ asset('assets/authe/assets/front/css/style.css') }}" rel="stylesheet">
<link href="{{ asset('assets/authe/assets/front/css/meanmenu.min.css') }}" rel="stylesheet">
<link href="{{ asset('assets/authe/assets/front/css/responsive.css') }}" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="{{ asset('assets/authe/assets/front/images/favicon.png') }}" type="image/x-icon">
<link rel="icon" href="{{ asset('assets/authe/assets/front/images/favicon.png') }}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>

<div class="page-wrapper">
	
	<!-- Cursor -->
	<div class="cursor"></div>
	<div class="cursor-follower"></div>
	<!-- Cursor End -->
 	
	<!-- Preloader -->
	<div class="loader-wrap">
		<div class="preloader">
			<div class="preloader-close">x</div>
			<div id="handle-preloader" class="handle-preloader">
				<div class="animation-preloader">
					<div class="txt-loading">
						<span data-text-preloader="L" class="letters-loading">L</span>
						<span data-text-preloader="O" class="letters-loading">O</span>
						<span data-text-preloader="A" class="letters-loading">A</span>
						<span data-text-preloader="D" class="letters-loading">D</span>
						<span data-text-preloader="I" class="letters-loading">I</span>
						<span data-text-preloader="N" class="letters-loading">N</span>
						<span data-text-preloader="G" class="letters-loading">G</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader End -->
	
	<!-- Main Header -->
	<header class="main-header header-style-one">
		
		<!-- Header Lower -->
		<div class="header-lower">
			<div class="auto-container">
				<div class="inner-container">
					<div class="d-flex justify-content-between align-items-center flex-wrap">
						
						<div class="logo-box">
							<div class="logo"><a href="{{ path('app_front_index') }}"><img src="{{ asset('assets/authe/assets/front/images/logo.svg') }}" alt="EduConnect" title="EduConnect"></a></div>
						</div>
						
						<div class="nav-outer d-flex flex-wrap">
							<!-- Main Menu -->
							<nav class="main-menu navbar-expand-md">
								<div class="navbar-header">
									<!-- Toggle Button -->    	
									<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								
								<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
									<ul class="navigation clearfix">
										<li><a href="{{ path('app_front_index') }}">Accueil</a></li>
										<li><a href="{{ path('app_front_about') }}">À propos</a></li>
										<li class="dropdown"><a href="#">Options</a>
											<ul>
												<li><a href="{{ path('app_front_faq') }}">FAQ</a></li>
												<li><a href="{{ path('app_front_pricing') }}">Tarifs</a></li>
												<li><a href="{{ path('app_front_testimonial') }}">Témoignages</a></li>
												<li class="dropdown"><a href="#">Équipe</a>
													<ul>
														<li><a href="{{ path('app_front_team_detail') }}">Détails équipe</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="dropdown"><a href="#">Services</a>
											<ul>
												<li><a href="{{ path('app_front_events') }}">Événements</a></li>
												<li><a href="{{ path('app_front_courses') }}">Cours</a></li>
												<li><a href="{{ path('app_front_feed') }}">Fil d'actualité</a></li>
												<li><a href="{{ path('app_front_quiz') }}">Quiz</a></li>
											</ul>
										</li>
										<li><a href="{{ path('app_front_contact') }}">Contact</a></li>
									</ul>
								</div>
							</nav>
						</div>

						<!-- Main Menu End-->
						<div class="outer-box d-flex align-items-center flex-wrap">

							<!-- Language DropDown -->
							<div class="language-dropdown">
								<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="flag"><img src="{{ asset('assets/authe/assets/front/images/icons/flag.png') }}" alt="Langue" /></span> <span class="fa-solid fa-angle-down fa-fw"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" href="#"><span class="flag"><img src="{{ asset('assets/authe/assets/front/images/icons/flag.png') }}" alt="English" /></span> English</a></li>
									<li><a class="dropdown-item" href="#"><span class="flag"><img src="{{ asset('assets/authe/assets/front/images/icons/arabic.png') }}" alt="Arabe" /></span> Arabe</a></li>
									<li><a class="dropdown-item" href="#"><span class="flag"><img src="{{ asset('assets/authe/assets/front/images/icons/germany.png') }}" alt="Allemand" /></span> Allemand</a></li>
									<li><a class="dropdown-item" href="#"><span class="flag"><img src="{{ asset('assets/authe/assets/front/images/icons/france.png') }}" alt="Français" /></span> Français</a></li>
								</ul>
							</div>

							<!-- Button Box -->
							<div class="main-header_buttons">
								<a href="{{ path('app_login') }}" class="template-btn btn-style-two">
									<span class="btn-wrap">
										<span class="text-one">Connexion</span>
										<span class="text-two">Connexion</span>
									</span>
								</a>
								<a href="{{ path('app_register') }}" class="template-btn btn-style-one">
									<span class="btn-wrap">
										<span class="text-one">S'inscrire</span>
										<span class="text-two">S'inscrire</span>
									</span>
								</a>
							</div>

							<!-- Mobile Navigation Toggler -->
							<div class="mobile-nav-toggler">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
							</div>

						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!--End Header Lower-->
		
		<!-- Mobile Menu  -->
		<div class="mobile-menu">
			<div class="menu-backdrop"></div>
			<div class="close-btn"><span class="icon fa-solid fa-xmark fa-fw"></span></div>
			
			<nav class="menu-box">
				<div class="nav-logo"><a href="{{ path('app_front_index') }}"><img src="{{ asset('assets/authe/assets/front/images/mobile-logo.svg') }}" alt="EduConnect" title="EduConnect"></a></div>
				<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
			</nav>
		</div>
		<!-- End Mobile Menu -->
	
	</header>
	<!-- End Main Header -->
	
	<!-- Slider One -->
	<section class="slider-one">
		<div class="main-slider swiper-container">
			<div class="swiper-wrapper">

				<!-- Slide -->
				<div class="swiper-slide">
					<div class="slider-one_icon" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/icon-1.png') }}')"></div>
					<div class="slider-one_icon-two" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/icon-1.png') }}')"></div>
					<div class="slider-one_pattern" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-1.png') }}')"></div>
					<div class="slider-one_pattern-two" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-2.png') }}')"></div>
					<div class="slider-one_pattern-four" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-4.png') }}')"></div>
					<div class="auto-container">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="slider-one_content col-lg-7 col-md-12 col-sm-12">
								<div class="slider-one_content-inner">
									<div class="slider-one_title"><i><img src="{{ asset('assets/authe/assets/front/images/main-slider/hand.png') }}" alt="AI" /></i> L'IA rend le contenu rapide et facile</div>
									<h1 class="slider-one_heading">Présentez vos idées dans des sessions de pitch captivantes.</span> </h1>
									<div class="slider-one_text">Brillez en temps réel.</div>
									<div class="slider-one_button d-flex align-items-center flex-wrap">
										<a href="{{ path('app_front_about') }}" class="template-btn btn-style-one">
											<span class="btn-wrap">
												<span class="text-one">Commencer gratuitement</span>
												<span class="text-two">Commencer gratuitement</span>
											</span>
										</a>
										<div class="slider-one_video">
											<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video play-box"><span class="fa fa-play"></span></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="slider-one_image-column col-lg-5 col-md-12 col-sm-12">
								<div class="slider-one_pattern-three" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-3.png') }}')"></div>
								<div class="slider-one_image-outer">
									<!-- Slider One Author -->
									<div class="slider-one_author">
										<i><img src="{{ asset('assets/authe/assets/front/images/main-slider/icon-2.png') }}" alt="" /></i>
										<h5 class="slider-one_author-name">Aarfaoui Yassine</h5>
										<div class="slider-one_author-text">Gestionnaire médias sociaux</div>
									</div>
									<!-- Slider One Percent -->
									<div class="slider-one_percentage">
										<i class="fa-solid fa-arrow-up fa-fw"></i>
										<div class="slider-one_percent">90<sub>%</sub></div>
										<div class="slider-one_percentage-text">efficacité</div>
									</div>
									<div class="slider-one_graph">
										<div class="slider-one_graph-title">Objectif annuel <span>$98,541 <sup><i class="fa-solid fa-caret-up fa-fw"></i>110%</sup></span></div>
										<img src="{{ asset('assets/authe/assets/front/images/main-slider/graph.png') }}" alt="Graphique" />
									</div>
									<div class="slider-one_image">
										<img src="{{ asset('assets/authe/assets/front/images/main-slider/image-1.png') }}" alt="Présentation" />
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<!-- Slide -->
				<div class="swiper-slide">
					<div class="slider-one_icon" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/icon-1.png') }}')"></div>
					<div class="slider-one_icon-two" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/icon-1.png') }}')"></div>
					<div class="slider-one_pattern" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-1.png') }}')"></div>
					<div class="slider-one_pattern-two" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-2.png') }}')"></div>
					<div class="slider-one_pattern-four" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-4.png') }}')"></div>
					<div class="auto-container">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="slider-one_content col-lg-7 col-md-12 col-sm-12">
								<div class="slider-one_content-inner">
									<div class="slider-one_title"><i><img src="{{ asset('assets/authe/assets/front/images/main-slider/hand.png') }}" alt="AI" /></i> L'IA rend le contenu rapide et facile</div>
									<h1 class="slider-one_heading">Rejoignez une communauté d'entrepreneurs, d'investisseurs et d'étudiants. <span> </span> </h1>
									<div class="slider-one_text">Connectez-vous et innovez ensemble</div>
									<div class="slider-one_button d-flex align-items-center flex-wrap">
										<a href="{{ path('app_front_about') }}" class="template-btn btn-style-one">
											<span class="btn-wrap">
												<span class="text-one">Commencer gratuitement</span>
												<span class="text-two">Commencer gratuitement</span>
											</span>
										</a>
										<div class="slider-one_video">
											<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video play-box"><span class="fa fa-play"></span></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="slider-one_image-column col-lg-5 col-md-12 col-sm-12">
								<div class="slider-one_pattern-three" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-3.png') }}')"></div>
								<div class="slider-one_image-outer">
									<!-- Slider One Author -->
									<div class="slider-one_author">
										<i><img src="{{ asset('assets/authe/assets/front/images/main-slider/icon-2.png') }}" alt="" /></i>
										<h5 class="slider-one_author-name">Aamara Chiheb</h5>
										<div class="slider-one_author-text">Monteur vidéo</div>
									</div>
									<!-- Slider One Percent -->
									<div class="slider-one_percentage">
										<i class="fa-solid fa-arrow-up fa-fw"></i>
										<div class="slider-one_percent">90<sub>%</sub></div>
										<div class="slider-one_percentage-text">efficacité</div>
									</div>
									<div class="slider-one_graph">
										<div class="slider-one_graph-title">Objectif annuel <span>$98,541 <sup><i class="fa-solid fa-caret-up fa-fw"></i>110%</sup></span></div>
										<img src="{{ asset('assets/authe/assets/front/images/main-slider/graph.png') }}" alt="Graphique" />
									</div>
									<div class="slider-one_image">
										<img src="{{ asset('assets/authe/assets/front/images/main-slider/mirror.png') }}" alt="Communauté" />
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<!-- Slide -->
				<div class="swiper-slide">
					<div class="slider-one_icon" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/icon-1.png') }}')"></div>
					<div class="slider-one_icon-two" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/icon-1.png') }}')"></div>
					<div class="slider-one_pattern" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-1.png') }}')"></div>
					<div class="slider-one_pattern-two" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-2.png') }}')"></div>
					<div class="slider-one_pattern-four" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-4.png') }}')"></div>
					<div class="auto-container">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="slider-one_content col-lg-7 col-md-12 col-sm-12">
								<div class="slider-one_content-inner">
									<div class="slider-one_title"><i><img src="{{ asset('assets/authe/assets/front/images/main-slider/hand.png') }}" alt="AI" /></i> L'IA rend le contenu rapide et facile</div>
									<h1 class="slider-one_heading"> <span></span>Suivez des cours en ligne et testez vos compétences avec des quiz interactifs.</h1>
									<div class="slider-one_text">Apprenez à votre rythme.</div>
									<div class="slider-one_button d-flex align-items-center flex-wrap">
										<a href="{{ path('app_front_about') }}" class="template-btn btn-style-one">
											<span class="btn-wrap">
												<span class="text-one">Commencer gratuitement</span>
												<span class="text-two">Commencer gratuitement</span>
											</span>
										</a>
										<div class="slider-one_video">
											<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video play-box"><span class="fa fa-play"></span></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="slider-one_image-column col-lg-5 col-md-12 col-sm-12">
								<div class="slider-one_pattern-three" style="background-image:url('{{ asset('assets/authe/assets/front/images/main-slider/pattern-3.png') }}')"></div>
								<div class="slider-one_image-outer">
									<!-- Slider One Author -->
									<div class="slider-one_author">
										<i><img src="{{ asset('assets/authe/assets/front/images/main-slider/icon-2.png') }}" alt="" /></i>
										<h5 class="slider-one_author-name">Laradh Youssef</h5>
										<div class="slider-one_author-text">Gestionnaire médias sociaux</div>
									</div>
									<!-- Slider One Percent -->
									<div class="slider-one_percentage">
										<i class="fa-solid fa-arrow-up fa-fw"></i>
										<div class="slider-one_percent">90<sub>%</sub></div>
										<div class="slider-one_percentage-text">efficacité</div>
									</div>
									<div class="slider-one_graph">
										<div class="slider-one_graph-title">Objectif annuel <span>$98,541 <sup><i class="fa-solid fa-caret-up fa-fw"></i>110%</sup></span></div>
										<img src="{{ asset('assets/authe/assets/front/images/main-slider/graph.png') }}" alt="Graphique" />
									</div>
									<div class="slider-one_image">
										<img src="{{ asset('assets/authe/assets/front/images/main-slider/image-3.png') }}" alt="Apprentissage" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Main Slider Section -->

	<!-- Services One -->
	<section class="services-one">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="sec-title_title">Nos Services</div>
				<h2 class="sec-title_heading">Découvrez nos dernières <br> <span>nouvelles fonctionnalités</span></h2>
			</div>
			<div class="row clearfix">

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-speaker1"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{{ path('app_front_events') }}">Événements</a></h5>
						<div class="service-block_one-text">Découvrez des événements passionnants conçus pour connecter, inspirer et autonomiser des individus de tous horizons.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">01</div>
							<a class="service-block_one-join" href="{{ path('app_front_events') }}">Rejoindre <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-marketing"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{{ path('app_front_feed') }}">Fil d'actualité</a></h5>
						<div class="service-block_one-text">Restez informé avec des flux en temps réel présentant les dernières nouvelles, insights et points forts de la communauté.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">02</div>
							<a class="service-block_one-join" href="{{ path('app_front_feed') }}">Rejoindre <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-users"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{{ path('app_front_quiz') }}">Quiz</a></h5>
						<div class="service-block_one-text">Testez vos connaissances et suivez vos progrès avec des quiz interactifs conçus pour renforcer l'apprentissage.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">03</div>
							<a class="service-block_one-join" href="{{ path('app_front_quiz') }}">Rejoindre <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-copyright"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{{ path('app_front_courses') }}">Cours</a></h5>
						<div class="service-block_one-text">Explorez une variété de cours dirigés par des experts pour apprendre, grandir et atteindre vos objectifs à votre rythme.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">04</div>
							<a class="service-block_one-join" href="{{ path('app_front_courses') }}">Rejoindre <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-tag"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{{ path('app_front_report') }}">Signalements</a></h5>
						<div class="service-block_one-text">Utilisez notre service de signalement dédié pour rapporter tout problème, garantissant une résolution rapide et efficace.</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">05</div>
							<a class="service-block_one-join" href="{{ path('app_front_report') }}">Rejoindre <i class="fa-solid fa-plus fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block Two -->
				<div class="service-block_two col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_two-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_two-sideicon" style="background-image:url('{{ asset('assets/authe/assets/front/images/icons/service-1.png') }}')"></div>
						<div class="service-block_two-icon">
							<img src="{{ asset('assets/authe/assets/front/images/icons/service.png') }}" alt="Plus de services" />
						</div>
						<h5 class="service-block_two-heading"><a href="{{ path('app_front_services') }}">Plus de services</a></h5>
						<div class="service-block_two-text"></div>
						<div class="service-block_two-button">
							<a href="{{ path('app_front_services') }}" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">En savoir plus</span>
									<span class="text-two">En savoir plus</span>
								</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Services One -->

	<!-- Le reste du code HTML reste le même avec les chemins corrigés... -->
	<!-- J'ai raccourci pour la lisibilité, mais tu dois remplacer TOUS les chemins restants -->

</div>
<!-- End PageWrapper -->

<div class="progress-wrap">
	<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
	</svg>
</div>

<script src="{{ asset('assets/authe/assets/front/js/jquery.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/appear.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/parallax.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/tilt.jquery.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/jquery.paroller.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/wow.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/swiper.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/backtotop.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/odometer.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/parallax-scroll.js') }}"></script>

<script src="{{ asset('assets/authe/assets/front/js/gsap.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/SplitText.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/ScrollTrigger.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/ScrollToPlugin.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/ScrollSmoother.min.js') }}"></script>

<script src="{{ asset('assets/authe/assets/front/js/touchspin.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/jquery.marquee.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/magnific-popup.min.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/nav-tool.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/jquery-ui.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/element-in-view.js') }}"></script>
<script src="{{ asset('assets/authe/assets/front/js/script.js') }}"></script>

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{{ asset('assets/authe/assets/front/js/respond.js') }}"></script><![endif]-->

</body>
</html>